address.vcard {
  font-style: normal; }

.vcard .fn {
  font-size: 2em; }

.vcard .adr .street-address {
  display: block; }

.vcard .adr .postal-code {
  margin-left: 1em; }

.vcard .bio-label::after {
  content: ": "; }

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #E8E8EB; }
  body .container {
    background-color: rgba(255, 255, 255, 0.8); }

img.avatar {
  border-radius: 3px;
  float: left;
  margin-right: 30px; }
