address.vcard {
  font-style: normal; }

.vcard .fn {
  font-size: 2em; }

.vcard .adr .street-address {
  display: block; }

.vcard .adr .postal-code {
  margin-left: 1em; }

.vcard .bio-label::after {
  content: ": "; }

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #E8E8EB;
  padding-top: 20px;
  padding-bottom: 20px; }
  body .container {
    background-color: rgba(255, 255, 255, 0.8); }

.navbar {
  margin-bottom: 20px; }

img.avatar {
  border-radius: 4px;
  float: left;
  margin-right: 30px; }

a.svg {
  position: relative;
  display: inline-block; }
  a.svg:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }

svg {
  margin: .5em; }

svg.run-animation {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }
  svg.run-animation:hover {
    -webkit-animation-play-state: running;
    animation-play-state: running; }

li.experience.vevent.position {
  list-style: none;
  display: block;
  margin: 1em; }
  li.experience.vevent.position span {
    display: block; }
    li.experience.vevent.position span.jobtitle {
      font-weight: bold; }
