doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description", content="Adam Koch's Resume")
    meta(name="author", content="Adam Koch")
    title aakoch s GitHub / resume

    link(rel="shortcut icon" href="favicon.ico")

    link(rel="stylesheet", href="css/bootstrap.css")
    link(href='css/navbar.css', rel='stylesheet')
    link(rel="stylesheet", href="css/main.css")
    link(rel="author", href="humans.txt")

  body

    block content

    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="js/snap.svg.js")
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\\/script>')
    script(src='js/tether.min.js')
    script(src='js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='js/ie10-viewport-bug-workaround.js')
    script(type='text/javascript').
      // First lets create our drawing surface out of existing SVG element
      // If you want to create new surface just provide dimensions
      // like s = Snap(800, 600);
      //var p = s.path("M10-5-10,15M15,0,0,15M0-5-20,15").attr({
      //        fill: "none",
      //        stroke: "#bada55",
      //        strokeWidth: 5
      //    });
      //    p = p.pattern(0, 0, 10, 10);
      var element = $("svg").addClass("run-animation");
      element.hover(function () {
      //   var s = Snap("#svg");
      //    var triangle2 = s.select('path');//.transform('r40,200,200');
      //
      //    var bbox = triangle2.getBBox(); //bounding box, get coords and centre
      //    triangle2.animate({ transform: "r360," + bbox.cx + ',' + bbox.cy + "s1,1," + bbox.cx + "," + bbox.cy}, 200);
      },
      function (e) {
          e.preventDefault;

        // -> removing the class
        element.removeClass("run-animation");
      //  
      //  // -> triggering reflow /* The actual magic */
      //  // without this it wouldn't work. Try uncommenting the line and the transition won't be retriggered.
      //  element.offsetWidth = element.offsetWidth;

        // -> and re-adding the class
        setTimeout(function () {element.addClass("run-animation")}, 10);

      });