doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title aakoch s GitHub page
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")


    meta(property="og:title", content="| Website Title |")
    meta(property="og:url", content="| Website URL |")
    meta(property="og:image", content="| Link to img |")
    meta(property="og:description", content=" | Description |")


    link(rel="shortcut icon" href="favicon.ico")

    //- change address bar color for chrome on android devices
    meta(name="theme-color", content="| color theme |")

    //- Remove telephones formatfor IOS Devices
    meta(name="format-detection", content="telephone=no")

    link(rel="stylesheet", href="css/main.css")
    link(rel="author", href="humans.txt")

body
  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  block content

  script(src="scripts/vendor/jQuery/dist/jquery.min.js")
  script(src="scripts/main.js")
