@font-face {
  font-family: 'SpaceMonkey';
  src: url('../assets/fonts/subset-SpaceMonkey.woff2') format('woff2'),
      url('../assets/fonts/subset-SpaceMonkey.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  position: relative;
}

#golink {
  margin-right: 1em;
}

.item {
  border: solid 2px darkgray;
  width: 353px;
  height: 310px;
  position: absolute;
  box-shadow: 10px 10px 10px grey;
  border-radius: 5px;
  left: 0;
  font-family: 'SpaceMonkey';
  font-weight: 500;
  font-style: normal;
}

/* @media screen and (max-width: 7000px) {
  .item {
    right: 1000px;
  }
}

@media screen and (max-width: 1180px) {
  .item {
    right: 827px;
  }
}

@media screen and (max-width: 820px) {
  .item {
    right: 467px;
  }
}

@media screen and (max-width: 350px) {
  .item {
    right: 379px;
  }
} */

.moving {
/*   animation-delay: 2s; */
  animation-duration: 2.5s;
  animation-name: float-out;
  animation-iteration-count: infinite;
}

.item:before {
  content: "";
  background-color: green;
  width: 20px;
  height: 40px;
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

hr {
  height: 5px;
  color: solid;
}

.picture {
  
  border: solid 1px black;
  width: 353px;
  height: 50px;
  position: absolute;
  bottom: 0;
  text-align: center;
  
}

.picture * {
  vertical-align: middle;
}

img {
  position: absolute;
  border: white solid 4px;
  border-radius: 10px;
}

@keyframes float-out {
  from {
    
  }
  35% {
    transform: rotate(20deg) translate(-20px);
  }
  80% {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(0deg);
    left: calc(100% - 353px);
  }
  
}