extends ./clothesline_base.pug

block content
  .container
    hr(noshade)
    .item.moving
      img(src='https://www.dogtired.org/alero/summer_01/frontquarter.jpg')
      .picture
        p My Alero
        
  p I haven't figured out how to start on the left side and go to right side (or any other position stuff).
  a(href="javascript:$('hr + div').addClass('moving')") Go!
  p
    a(href="javascript:$('.moving').removeClass('moving')") Stop!
