mixin history
  ol.vcalendar
    li.experience.vevent.position
      span.summary.jobtitle Systems Engineer
      span.location.employer Union Pacific Railroad
      abbr.dtstart(title="2000-03-20") March 2000 - 
      abbr.dtend(title="present") present
    ul
      li Technical Lead for User Experience team
      li Implemented and maintained new version of heaviest-hit customer-facing application
      li Lead code reviews
      li Set programming standards and best-practices
      li Developed Angular application
      li Taught Java fundamentals to new developers
      
    li.experience.vevent.position
      span.summary.jobtitle Associate Systems Engineer
      span.location.employer Union Pacific Railroad
      abbr.dtstart April 2011 - 
      abbr.dtend September 2013
    ul
      li Wrote back-end Java code using frameworks such as Spring, Hibernate, Ehcache and Quartz
      li Created front-end pages with Wicket and custom JavaScript using jQuery
      li Lead installation of code quality and code review tools
      li Planned and estimated projects and sprints using Agile methodology and VersionOne
      li Worked with customers to assemble requirements, receive feedback, and ensure satisfaction
      li Managed on- and off-shore developers by assigning work and daily phone conversations 
      
      
      
    li.experience.vevent.position
      span.summary.jobtitle Project Engineer
      span.location.employer Union Pacific Railroad
      abbr.dtstart July 2005 - 
      abbr.dtend April 2011
    ul
      li Designed and created job-centric portals using Oracle Portal with other business areas
      li Designed and developed front-end using JPDK portlets, the jQuery framework and AJAX
      li Maintained code through JSLint and JSUnit testing
      li Minimized size of JavaScript and CSS with compression tools
      li Received feedback from field employees and updated portals as required
      li Managed on- and off-shore developers including assigning work and daily video-conferences
      li Worked with teams to evaluate company software purchases 
      
      
    li.experience.vevent.position
      span.summary.jobtitle Senior Application Developer
      span.location.employer Union Pacific Railroad
      abbr.dtstart April 2002 - 
      abbr.dtend July 2005
    ul
      li Worked with customers on design of new web-based application for simulation of cost saving routes for cargo
      li Implemented said application using emerging and established technologies including Java Enterprise Edition (J2EE), EJB, Weblogic, JSP, JMS with TIBCO, JSTL and Oracle
      li Update and maintain said application constantly helping customers with new requirements
      li Worked with customers to assemble requirements, receive feedback, and ensure satisfaction
      li Provided input on front-end Java frameworks to be used company-wide
      
      
    li.experience.vevent.position
      span.summary.jobtitle Application Developer
      span.location.employer Union Pacific Railroad
      abbr.dtstart January 2001 - 
      abbr.dtend April 2002
    ul
      li Maintained, updated and supported Visual Basic application used for business forecasting
      li Worked with customers to assemble requirements, receive feedback and ensure satisfaction

    li.experience.vevent.position
      span.summary.jobtitle Associate Application Developer
      span.location.employer Union Pacific Railroad
      abbr.dtstart March 2000 - 
      abbr.dtend January 2001
    ul
      li Maintained, updated and supported Visual Basic application used for business forecasting
      li Worked with customers to assemble requirements, receive feedback and ensure satisfaction

    li.experience.vevent.position
      span.summary.jobtitle Contractor
      span.location.employer Paradigm Solutions
      abbr.dtstart August 2000 - 
      abbr.dtend June 2001
    ul
      li Converted legacy Visual Basic code to MS SQL Server stored procedures
      li Supported web site with new Javascript code