mixin history
  ol.vcalendar
    li.experience.vevent
      span.summary Developer
      span.location Union Pacific Railroad
      abbr.dtstart(title="2000-03-20") March 2000 -
      abbr(title="present") present