h2 Hobbies
h3 Board Games
p I am always up for a board or card game. 
h3 Music 
p With my new MacBook Pro, I've been making music. There isn't anything I wouldn't call amateur, but head over to 
  a(href="https://soundcloud.com/user-810454692") SoundCloud 
  | to hear the couple of short pieces I have.
.github-view-source-link View 
  a(href="https://github.com/aakoch/aakoch.github.com/blob/gh-pages/app/pug/hobbies.pug") the source
  |  for this page!