extends ./base.pug

mixin include-example
  h2 Skills
  .row
    .col-md-5
      h3 Major Languages
      ul
        li 
          strong Java 
          | - since 1999
        li 
          strong Javascript 
          | - since 1995
        li 
          strong PHP 
          | - since 2000?
        li
          strong Visual Basic 
          | - since 2000
    .col-md-7
      strong This graph is currently using fake data!
      canvas(id="majorLanguages" width="500" height="300")

  .row
    .col-md-4.col-sm-6
      h3 Frameworks
      ul
        li Spring
        li JSP, J2EE, JMS, JDBC

    .col-md-4.col-sm-6
      h3 Other Languages
      ul
        li Elm
        li Python

    .col-md-4.col-sm-6
      h3 Build Tools
      ul
        li Ant
        li Maven
        li npm, Grunt, Yeoman, Gulp

    .col-md-4.col-sm-6
      h3 Source Control
      ul
        li Git
        li Subversion
        li MKS Source Integrity

    .col-md-4.col-sm-6
      h3 Applications
      ul
        li Eclipse
        li JetBrains IDEs
        li Microsoft Office
        li Adobe Suite

    .col-md-4.col-sm-6
      h3 Operating Systems
      ul
        li Windows
        li Unix
        li Linux
        li OSX

    .col-md-4.col-sm-6
      h3 Stuff used making this page
      ul
        li Git
        li GitHub
        li Javascript
        li Node
        li NPM
        li Gulp
        li Pug
        li Bootstrap
        li SVGs
        li SASS
        li jQuery