extends ./base.pug
include ./nav
include ./vcard
include ./history

block content
    .container
        +nav
        .center
        +vcard
        +history
    div View the source for this on 
        a(href="https://github.com/aakoch/aakoch.github.com") GitHub