extends ./base.pug
include ./footer
include ./nav
include ./history

block content
  div(style="margin:.4em 2em 2em")
    div( style="float:left")
      image.avatar(src='images/motel.png' style="height: 10em")
    h1 Adam Koch
    a(href="https://github.com/aakoch") aakoch
  .container
    +nav
    .jumbotron
      +history
      div View the source for this on 
          a(href="https://github.com/aakoch/aakoch.github.com") GitHub

    +footer
    <%= octicon(:symbol => "alert") %>