extends ./base.pug
include ./nav
include ./history
include ./vcard
include ./projects

block content
  div
    +nav
    .tab-content.container
      .tab-pane.active(id="home" role="tabpanel")
        h2 Welcome
        .row
          .col-md-8 Adam is a software developer and has been programming since Basic.
          .col-md-4
            quote “We must be willing to let go of the life we planned so as to have the life that is waiting for us.” -- Joseph Campbell
        .row
          .col-md-4
            +vcard
      .tab-pane(id="skills" role="tabpanel")
        include ./skills.pug
      .tab-pane(id="experience" role="tabpanel")
        h2 Experience
        +history
      .tab-pane(id="passions" role="tabpanel")
        include passions.pug
      .tab-pane(id="projects" role="tabpanel")
        h2 Projects
        +projects