extends ./base.pug
include ./nav
include ./history
include ./vcard
include ./skills

block content
  div
    +nav
    .tab-content.container
      .tab-pane.active(id="home" role="tabpanel")
        h2 Welcome
        .row
          div.col-md-8 Adam is a software developer and has been programming since Basic.
          div.col-md-4
            quote “We must be willing to let go of the life we planned so as to have the life that is waiting for us.” -- Joseph Campbell
        .row
          div.col-md-4
            +vcard
      .tab-pane(id="skills" role="tabpanel")
        +skills
      .tab-pane(id="experience" role="tabpanel")
        h2 Experience
        +history
      .tab-pane(id="passions" role="tabpanel")
        h2 Passions
        ul
          li Clean Code 
            p The book 
              a(href="http://amzn.to/1OmEcv2") Clean Code by "Uncle" Robert Martin 
              | changed my life.       