mixin nav
  header
    .logo
      img(src="", alt="Logo")
    .menu#menu
      span.lines#line-1
      span.lines#line-2
      span.lines#line-3
    nav
      ul
        li Item-1
        li Item-2
        li Item-3
        li Item-4
        li Item-5
