mixin nav           
  ul.nav.nav-tabs(role="tablist")
    li.active(role="presentation")
      a(href='#home' role="tab" data-toggle="tab")
        | Home 
        span.sr-only (current)
    li
      a(href='#skills' role="tab" data-toggle="tab") Skills
    li
      a(href='#experience' role="tab" data-toggle="tab") Experience
    li
      a(href='#passions' role="tab" data-toggle="tab") Passions
    li
      a(href='#projects' role="tab" data-toggle="tab") Projects
    li
      a(href='#bodyofwork' role="tab" data-toggle="tab") Other Works
          