mixin nav           
  nav.navbar.navbar-light.bg-faded
    #navbar-header.collapse.navbar-toggleable-xs.in
      a.navbar-brand(href='#Home') 
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link(href='#Home')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#skills') Skills
        li.nav-item
          a.nav-link(href='#experience') Experience
        li.nav-item
          a.nav-link(href='#training') Training