mixin nav           
  ul.nav.nav-tabs(role="tablist")
    li.nav-item(role="presentation")
      a.nav-link.active(href='#home' role="tab" data-bs-toggle="tab")
        | Home 
    li.nav-item
      a.nav-link(href='#skills' role="tab" data-bs-toggle="tab") Skills
    li.nav-item
      a.nav-link(href='#experience' role="tab" data-bs-toggle="tab") Experience
    li.nav-item
      a.nav-link(href='#portfolio' role="tab" data-bs-toggle="tab") Portfolio
    li.nav-item
      a.nav-link(href='#volunteer' role="tab" data-bs-toggle="tab") Volunteering
          