h2 Passions
h3 Clean Code 
p The book 
  a(href="http://amzn.to/1OmEcv2") Clean Code by "Uncle" Robert Martin 
  | changed my life.
p I also really enjoy reviewing code.
h3 Teaching
p I've starting to realize that I love sharing things. I have taught classes to new hires, volunteered to be on panels, shared my findings/research on the wiki, and emailed newletters with tips and tricks.
h3 User Interface Design
p I used to work on the User Experience team which included Human Factors, the team with degrees in Human-Computer Interaction. Before working with that team I thought, as I expect most developers without that kind of exposure, that my interfaces were fine. But I believe I learned a lot and have gained "an eye" for bad UI design.
h3 Security
p I'm am facinated and often amazed with the abilities of hackers and sometimes contemplate what vulnerabilities are in my apps. 
h3 New Technologies
p From new hardware devices to electronics to software projects, I get excited reading about advances in technology. I like to try them out BUT, and that's a big but, I don't always think the cutting edge is right for the enterprise. 
.github-view-source-link View 
  a(href="https://github.com/aakoch/aakoch.github.com/blob/gh-pages/app/pug/passions.pug") the source
  |  for this page!