h2 Passions
h3 Software! 
p I try to achieve "craftsman" status, but probably have a ways to go. My inspiration is the book 
  a(href="http://amzn.to/1OmEcv2") Clean Code by "Uncle" Robert Martin.
p I also attend local meetups such as 
  a(href="https://nebraskajs.com/") NebraksaJS 
  | and 
  a(href="https://www.meetup.com/omahajava/") Omaha Java Users Group 
  | and have presented at Omaha BarCamp, the "unconference".
.github-view-source-link View 
  a(href="https://github.com/aakoch/aakoch.github.com/blob/gh-pages/app/pug/passions.pug") the source
  |  for this page!