mixin portfolio
  .projects

    h4 Programming
    ul
      li Online resume: 
        a(href="https://aakoch.github.io") aakoch.github.io
      li Chrome plugin: 
        a(href="https://www.github.com/aakoch/scoutbook-buddy") github.com/aakoch/scoutbook-buddy 
      li Java/Groovy/Kotlin: 
        a(href="https://www.github.com/aakoch/slab") github.com/aakoch/slab 
      li Python project for a self-driving RC car: 
        a(href="https://www.github.com/aakoch/robocar ") github.com/aakoch/robocar 
      li iOS app: 
        a(href="https://www.github.com/aakoch/PunchDad") github.com/aakoch/PunchDad
      li Javascript on a microcontroller project: 
        a(href="https://www.github.com/aakoch/in-a-meeting") github.com/aakoch/in-a-meeting 
      li Java project: 
        a(href="https://www.github.com/aakoch/lrs-impl") github.com/aakoch/lrs-impl
        a(href="https://www.github.com/aakoch/lrs-api ") github.com/aakoch/lrs-api 
      li Java project used for Cub Scouts: 
        a(href="https://www.github.com/aakoch/dengroups ") github.com/aakoch/dengroups 
      li Elm project: 
        a(href="https://www.github.com/aakoch/elm-slab") github.com/aakoch/elm-slab
      li jQuery plugin: 
        a(href="https://www.github.com/aakoch/jQuery-Konami-Plugin") github.com/aakoch/jQuery-Konami-Plugin
      li AWS S3 buckets used for personal backups
      li AWS Lambda + API Gateway used with React tutorial: github.com/aakoch/react-lambda-tutorial

    h5 Contributions
    p Small contributions to large projects: jQuery, jcabi, Modernizr, Jackson
    ul 
      li 
        a(href="https://github.com/jquery/jquery/pull/18") jQuery
      li
        a(href="https://github.com/pulls?q=is%3Apr+author%3Aaakoch+is%3Aclosed") Other typo-fixes and the like 
        | in jcabi, Modernizr, Jackson... Proof that "I don't make the products you use, I just make them better"

    h4 Design
    h5 Websites
    ul
      li Troop 308
    h5 Publishing
    ul
      li A-Words
    h5 CAD and 3D modelling 
    ul
      li
        a(href="https://www.thingiverse.com/aakoch/designs") Thingiverse
      li
        a(href="https://accounts.autodesk.com/users/aakoch77/view#Profile") Fusion 360 Profile
      li Blender projects
    h5 Graphics
    ul
      li 
        a(href="https://pixabay.com/users/aakoch-4434016/") Pixabay
    h5 Music
    ul
      li
        a(href="https://soundcloud.com/user-810454692") SoundCloud
    h5 T-Shirt Design
    ul
      li
        a(href="https://teespring.com/team-elijah-iih?pid=2&cid=6568") Team Elijah clothing
