mixin projects
  .projects
    h3 Current Projects
    .project
      h4.project-title
        a(href="https://github.com/aakoch/PunchDad") Punch Dad
      p.project-description An iOS app I'm using to learn how to program for iOS devices. Not available in the app store.
    .project
      h4.project-title
        a(href="https://github.com/aakoch/elm-slab") elm-slab
      p.project-description Sandbox for learning 
        a(href="http://elm-lang.org") Elm
    .project
      h4.project-title
        a(href="https://github.com/aakoch/zuid") ZuiD
      p.project-description A tool for documenting a system in a zoomable user interface (ZUI).
    h3 Past Websites
    h4 
      a(href="http://www.corporatecycling.com") Corporate Cycling Challenge
    h4
      a(href="http://www.dogtired.org") DogTired