mixin projects
  .projects
    p I try to achieve "craftsman" status, but probably have a ways to go. My inspiration is the book 
      a(href="http://amzn.to/1OmEcv2") Clean Code by "Uncle" Robert Martin.
    p I also attend local meetups such as 
      a(href="https://nebraskajs.com/") NebraksaJS 
      | and 
      a(href="https://www.meetup.com/omahajava/") Omaha Java Users Group 
      | and have presented at Omaha BarCamp, the "unconference".
    h3 Troop 308 Website
    p My son is a scout in our local troop and I help by maintaing the website.
    h3 Past Projects
    .project
      h4.project-title
        RoboCar
      p.project-description I joined 
        a(href="https://www.meetup.com/diy-robocars-omaha/") a group that intends to build autonomous RC cars
        |. You can read more on 
        a(href="http://www.adamkoch.com/") my blog
    h3 Contributions
    p Small, small contributions to big, big projects
    ul
      li 
        a(href="https://github.com/jquery/jquery/pull/18") jQuery
      li 
        a(href="https://github.com/pulls?q=is%3Apr+author%3Aaakoch+is%3Aclosed") Other typo-fixes and the like 
        | in jcabi, Modernizr, Jackson... Proof that "I don't make the products you use, I just make them better"
  h3 Design
  h4 
    a(href="https://www.troop308omaha.com/news/a-words/") Boy Scouts Weekly Newsletter
  p Called the "A-Words", I took over curating this weekly newletter in October 2018
  h3 3D CAD
  p 
    li
      a(href="https://www.thingiverse.com/aakoch/designs") Thingiverse Profile
    li
      a(href="https://accounts.autodesk.com/users/aakoch77/view#Profile") Fusion 360 Profile
    li Blender projects (eventually I'll have a link)
  h3 Music 
  p With my new MacBook Pro, I've been making music. There isn't anything I wouldn't call amateur, but head over to 
    a(href="https://soundcloud.com/user-810454692") SoundCloud 
    | to hear the couple of short pieces I have.