mixin projects
  .projects
    h3 Current Projects
    .project
      h4.project-title
        RoboCar
      p.project-description I joined 
        a(href="https://www.meetup.com/diy-robocars-omaha/") a group that intends to build autonomous RC cars
    h3 Contributions
    p Small, small contributions to big, big projects
    ul
      li 
        a(href="https://github.com/jquery/jquery/pull/18") jQuery
      li 
        a(href="https://github.com/pulls?q=is%3Apr+author%3Aaakoch+is%3Aclosed") Other typo-fixes and the like 
        | in jcabi, Modernizr, Jackson... Proof that "I don't make the products you use, I just make them better"
  .github-view-source-link View 
    a(href="https://github.com/aakoch/aakoch.github.com/blob/gh-pages/app/pug/index.pug") the source
    |  for this page!