
h3 Skills
p This page is a little outdated. Come back later for an updated version.
.row
  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Major Languages
        .card-text
          ul
            li 
              strong Java 
              | - since 1998
            li 
              strong Javascript, HTML, CSS 
              | - since 1995
            li PHP 
              | - since 2000-something
            li Visual Basic 
              | - since 2000
            li ColdFusion 
              | - since 2000-something
          //.col-md-7
          //strong This graph is currently using fake data!
          //canvas(id="majorLanguages" width="500" height="300")

.row
  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Frameworks
        .card-text
          ul
            li Spring, Hibernate
            li jQuery, Angular, YUI, Underscore, Wicket, Struts, Prototype
            li Bootstrap, Foundation, HTML5 Boilerplate
            li JSP, J2EE, JMS, JDBC, JSTL, JSF

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Other Languages I've Played With
        .card-text
          ul
            li 
              a(href="https://github.com/aakoch/robocar") Python
            li 
              a(href="https://github.com/aakoch/railsapp") Ruby
            li 
              a(href="https://github.com/aakoch/elm-slab") Elm
            li C++
            li 
              a(href="https://github.com/aakoch/PunchDad") Swift
            li Pug
            li Perl

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Build Tools
        .card-text
          ul
            li Gradle, Maven, Ant
            li npm, Grunt, Yeoman, Gulp

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Source Control
        .card-text
          ul
            li Git, BitBucket, GitLab
            li Subversion
            li MKS Source Integrity

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Databases
        .card-text
          ul
            li Oracle
            li MySQL
            li SQL Server

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Code Quality Tools
        .card-text
          div Static Analysis Tools
          ul
            li jslint
            li FindBugs
            li PMD
            li Fortify
          div Continuous Integration
          ul 
            li SonarQube
            li Jenkins
            li Hudson
          div Code Review Tools
          ul
            li Crucible

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Containers
        .card-text
          ul
            li Weblogic
            li Tomcat

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Applications
        .card-text
          ul
            li Eclipse
            li JetBrains IDEs
            li Microsoft Office
            li Adobe Suite
            li Balsamiq

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Methodologies
        .card-text
          ul
            li Scrum
            li Kanban
            li Waterfall

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Cloud Application Platforms
        .card-text
          ul
            li Heroku

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Operating Systems
        .card-text
          ul
            li Windows
            li Unix
            li Linux
            li OS X

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Stuff used making this page
        .card-text
          ul
            li Git
            li GitHub
            li Javascript
            li Node
            li NPM
            li Gulp
            li Pug
            li Bootstrap
            li SVGs
            li SASS
            li jQuery
.row
  .col-md-12
    .github-view-source-link View 
      a(href="https://github.com/aakoch/aakoch.github.com/blob/master/app/pug/skills.pug") the source
      |  for this page!