mixin skills
  h2 Skills
  h3 Major Languages
  ul
    li Java
    li Javascript
    li PHP
    li Visual Basic
  canvas(id="majorLanguages" width="500" height="300")
  
  h3 Other Languages
  ul
    li Elm
    li Python
    
  h3 Build Tools
  ul
    li Ant
    li Maven
    li Grunt
    li Gulp
    
  h3 Source Control
  ul
    li Git
    li Subversion
    li MKS Source Integrity
    
  h3 Applications
  ul
    li Adobe Suite
    li Microsoft Office
    
    
  h3 Stuff used making this page
  ul
    li Git
    li GitHub
    li Javascript
    li Node
    li NPM
    li Gulp
    li Pug
    li Bootstrap
    li SVGs
    li SASS
    li jQuery