

h2 Skills
.row
  .col-md-5
    h3 Major Languages
    ul
      li 
        strong Java 
        | - since 1999
      li 
        strong Javascript, HTML, CSS 
        | - since 1995
      li 
        strong PHP 
        | - since 2000?
      li
        strong Visual Basic 
        | - since 2000
    //.col-md-7
      //strong This graph is currently using fake data!
      //canvas(id="majorLanguages" width="500" height="300")

.row
  .col-md-4.col-sm-6
    h3 Frameworks
    ul
      li Spring, Hibernate
      li jQuery, Angular, YUI, Underscore, Wicket
      li Bootstrap, Foundation, HTML5 Boilerplate
      li JSP, J2EE, JMS, JDBC

  .col-md-4.col-sm-6
    h3 Other Languages I've Played With
    ul
      li Python
      li Ruby
      li 
        a(href="https://github.com/aakoch/elm-slab") Elm
      li C++
      li 
        a(href="https://github.com/aakoch/PunchDad") Swift
      li Pug (now Jade)
      li Perl

  .col-md-4.col-sm-6
    h3 Build Tools
    ul
      li Gradle, Maven, Ant
      li npm, Grunt, Yeoman, Gulp

  .col-md-4.col-sm-6
    h3 Source Control
    ul
      li Git, BitBucket, GitLab
      li Subversion
      li MKS Source Integrity

  .col-md-4.col-sm-6
    h3 Databases
    ul
      li Oracle
      li MySQL
      li SQL Server

  .col-md-4.col-sm-6
    h3 Code Quality Tools
    div Static Analysis Tools
    ul
      li jslint
      li FindBugs
      li PMD
      li Fortify
    div Continuous Integration
    ul 
      li SonarQube
      li Jenkins
      li Hudson
    div Code Review Tools
    ul
      li Crucible

  .col-md-4.col-sm-6
    h3 Containers
    ul
      li Weblogic
      li Tomcat

  .col-md-4.col-sm-6
    h3 Applications
    ul
      li Eclipse
      li JetBrains IDEs
      li Microsoft Office
      li Adobe Suite

  .col-md-4.col-sm-6
    h3 Methodologies
    ul
      li Scrum
      li Kanban
      li Waterfall

  .col-md-4.col-sm-6
    h3 Operating Systems
    ul
      li Windows
      li Unix
      li Linux
      li OS X

  .col-md-4.col-sm-6
    h3 Stuff used making this page
    ul
      li Git
      li GitHub
      li Javascript
      li Node
      li NPM
      li Gulp
      li Pug
      li Bootstrap
      li SVGs
      li SASS
      li jQuery