
h3.text-center Skills
p This page is a little outdated. Come back later for an updated version.
.row
  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Major Languages
        .card-text
          ul
            li 
              strong Java 
              | - since 1998  
              span.badge.rounded-pill.bg-danger Pro
            li 
              strong Javascript, HTML, CSS 
              | - since 1995 
              span.badge.rounded-pill.bg-danger Pro 
            li PHP 
              | - since 2000-something 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Visual Basic 
              | - since 2000 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li ColdFusion 
              | - since 2000-something 
              span.badge.rounded-pill.bg-warning.text-dark Good 
          //.col-md-7
          //strong This graph is currently using fake data!
          //canvas(id="majorLanguages" width="500" height="300")

.row
  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Frameworks
        .card-text
          ul
            li Spring, Hibernate 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li jQuery, Angular, YUI, Underscore, Wicket, Struts, Prototype 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Bootstrap, Foundation, HTML5 Boilerplate 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li JSP, J2EE, JMS, JDBC, JSTL, JSF 
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Other Languages I've Played With
        .card-text
          ul
            li 
              a(href="https://github.com/aakoch/robocar") Python  
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li 
              a(href="https://github.com/aakoch/railsapp") Ruby 
              span.badge.rounded-pill.bg-success Novice
            li 
              a(href="https://github.com/aakoch/elm-slab") Elm 
              span.badge.rounded-pill.bg-success Novice
            li C++
              span.badge.rounded-pill.bg-success Novice
            li 
              a(href="https://github.com/aakoch/PunchDad") Swift 
              span.badge.rounded-pill.bg-success Novice
            li Pug
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li Perl
              span.badge.rounded-pill.bg-success Novice

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Build Tools
        .card-text
          ul
            li Gradle, Maven, Ant
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li npm, Grunt, Yeoman, Gulp
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Source Control
        .card-text
          ul
            li Git, BitBucket, GitLab
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li Subversion
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li MKS Source Integrity
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Databases
        .card-text
          ul
            li Oracle
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li MySQL
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li SQL Server
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Postgres
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Code Quality Tools
        .card-text
          div Static Analysis Tools
          ul
            li jslint
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li FindBugs
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li PMD
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Fortify
              span.badge.rounded-pill.bg-warning.text-dark Good 
          div Continuous Integration
          ul 
            li SonarQube
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Jenkins (aka Hudson)
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li TeamCity
              span.badge.rounded-pill.bg-success Novice
          div Code Review Tools
          ul
            li Crucible
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Containers
        .card-text
          ul
            li Weblogic
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Tomcat
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Oracle Portal
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Liferay
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Oracle Coherence
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Applications
        .card-text
          ul
            li Eclipse
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li JetBrains IDEs
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li Microsoft Office
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Adobe Suite
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Balsamiq
              span.badge.rounded-pill.bg-success Novice

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Methodologies
        .card-text
          ul
            li Scrum
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li Kanban
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li Waterfall
              span.badge.rounded-pill.bg-warning.text-dark Pro 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Cloud Application Platforms
        .card-text
          ul
            li Heroku
              span.badge.rounded-pill.bg-success Novice
            li AWS
              span.badge.rounded-pill.bg-success Novice
            li Google Cloud Platform
              span.badge.rounded-pill.bg-success Novice

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Operating Systems
        .card-text
          ul
            li Windows
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Unix
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Linux
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li OS X
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Stuff used making this page
        .card-text
          ul
            li Git
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li GitHub
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Javascript
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li Node
              span.badge.rounded-pill.bg-success Novice
            li NPM
              span.badge.rounded-pill.bg-success Novice
            li Gulp
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Pug
              span.badge.rounded-pill.bg-warning.text-dark Pro 
            li Bootstrap
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li SVGs
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li SASS
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li jQuery
              span.badge.rounded-pill.bg-warning.text-dark Pro 
.row
  .col-md-12
    .github-view-source-link View 
      a(href="https://github.com/aakoch/aakoch.github.com/blob/master/app/pug/skills.pug") the source
      |  for this page!