mixin skills
  h2 Skills
  canvas(id="myChart" width="500" height="300")
  h3 Stuff used making this page
  ul
    li Git
    li GitHub
    li Javascript
    li Node
    li NPM
    li Gulp
    li Pug
    li Bootstrap
    li SVGs
    li SASS
    li jQuery