
h3.text-center Skills
.row
  .col-md-4.col-sm-6
    .card.shadow
      .card-body.pill-hover
        h5.card-title Java
        .card-text 
          | I learned Java starting with version 1.2 in 1998 during an internship with Lockheed Martin. I've programmed in Java most of my professional career, with the exception of when I was programming Javascript, although the 2 often went hand-in-hand. 
          span.badge.rounded-pill.bg-danger Pro
  .col-md-4.col-sm-6
    .card.shadow
      .card-body.pill-hover
        h5.card-title Javascript
        .card-text 
          | While I didn't start programming professionally in Javascript during the first few years of my career, I have played around with it starting when I hosted a personal webpage from my dorm room at Penn State in 1995. I still remember the image I animated using "DHTML" (Dynamic HTML). 
          span.badge.rounded-pill.bg-danger Pro
  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Other
        .card-text
          ul
            li PHP 
              | - since 2000-something 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Visual Basic 
              | - since 2000 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li ColdFusion 
              | - since 2000-something 
              span.badge.rounded-pill.bg-warning.text-dark Good 

            li 
              a(href="https://github.com/aakoch/robocar") Python  
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li 
              a(href="https://github.com/aakoch/railsapp") Ruby 
              span.badge.rounded-pill.bg-success Novice
            li 
              a(href="https://github.com/aakoch/elm-slab") Elm 
              span.badge.rounded-pill.bg-success Novice
            li C++
              span.badge.rounded-pill.bg-success Novice
            li 
              a(href="https://github.com/aakoch/PunchDad") Swift 
              span.badge.rounded-pill.bg-success Novice
            li Perl
              span.badge.rounded-pill.bg-success Novice
            li Groovy
              span.badge.rounded-pill.bg-success Novice

.row
  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Frameworks
        .card-text
          ul
            li Spring 
              span.badge.rounded-pill.bg-danger Pro 
            li Hibernate 
              span.badge.rounded-pill.bg-danger Pro 
            li jQuery 
              span.badge.rounded-pill.bg-danger Pro 
            li Angular 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li YUI 
              span.badge.rounded-pill.bg-danger Pro 
            li Underscore 
              span.badge.rounded-pill.bg-danger Pro 
            li Wicket 
              span.badge.rounded-pill.bg-danger Pro 
            li Struts 
              span.badge.rounded-pill.bg-danger Pro 
            li Prototype 
              span.badge.rounded-pill.bg-danger Pro 
            li Bootstrap 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Foundation 
              span.badge.rounded-pill.bg-success Novice
            li HTML5 Boilerplate 
              span.badge.rounded-pill.bg-danger Pro 
            li JSP 
              span.badge.rounded-pill.bg-danger Pro 
            li J2EE
              span.badge.rounded-pill.bg-danger Pro 
            li JMS
              span.badge.rounded-pill.bg-danger Pro 
            li JDBC
              span.badge.rounded-pill.bg-danger Pro 
            li JSTL
              span.badge.rounded-pill.bg-danger Pro 
            li JSF 
              span.badge.rounded-pill.bg-danger Pro 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Markup Languages
        .card-text
          ul
            li HTML
              span.badge.rounded-pill.bg-danger Pro 
            li JSON
              span.badge.rounded-pill.bg-danger Pro 
            li XML
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li XSD
              span.badge.rounded-pill.bg-success Novice
            li XSLT
              span.badge.rounded-pill.bg-success Novice
            li Pug
              span.badge.rounded-pill.bg-danger Pro 
            li Markdown
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li YAML
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li 
              a(href="https://www.smarty.net/") Smarty
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Build Tools
        .card-text
          ul
            li Gradle
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Maven
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Ant
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li npm
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Puppet
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Hieradata
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Foreman
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Docker
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Grunt
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Yeoman
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Gulp
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Source Control
        .card-text
          ul
            li Git
              span.badge.rounded-pill.bg-danger Pro 
            li BitBucket
              span.badge.rounded-pill.bg-danger Pro 
            li GitLab
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Subversion
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li MKS Source Integrity
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Databases and related tools
        .card-text
          ul
            li Oracle
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li MySQL
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li SQL Server
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Postgres
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li MongoDB
              span.badge.rounded-pill.bg-success Novice
            li neo4j
              span.badge.rounded-pill.bg-success Novice
            li MyBatis
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Liquibase
              span.badge.rounded-pill.bg-danger Pro 
            li PowerDesigner
              span.badge.rounded-pill.bg-success Novice

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Code Quality Tools
        .card-text
          div Static Analysis Tools
          ul
            li jslint
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li FindBugs
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li PMD
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Fortify
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li SonarQube
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Fortify
              span.badge.rounded-pill.bg-success Novice
            li Blackduck
              span.badge.rounded-pill.bg-success Novice
            li FOSSA
              span.badge.rounded-pill.bg-success Novice
          div Continuous Integration
          ul 
            li Jenkins (aka Hudson)
              span.badge.rounded-pill.bg-danger Pro 
            li TeamCity
              span.badge.rounded-pill.bg-success Novice
          div Code Review Tools
          ul
            li Crucible
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title IDEs
        .card-text
          ul
            li JetBrains IntelliJ
              span.badge.rounded-pill.bg-danger Pro 
            li Eclipse
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Visual Studio Code
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Xcode
              span.badge.rounded-pill.bg-success Novice
            li Unity
              span.badge.rounded-pill.bg-success Novice

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Applications
        .card-text
          ul
            li Microsoft Office
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Adobe Photoshop
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Adobe Premier
              span.badge.rounded-pill.bg-success Novice
            li Balsamiq
              span.badge.rounded-pill.bg-success Novice
            li VisualVM
              span.badge.rounded-pill.bg-success Novice
            li MS Project
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li OmniGraffle
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Affinity Designer 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Affinity Photo
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Affinity Publisher
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Audacity 
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Fusion 360
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li OpenSCAD
              span.badge.rounded-pill.bg-success Novice
            li Balsamiq
              span.badge.rounded-pill.bg-success Novice

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Containers
        .card-text
          ul
            li Weblogic
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Tomcat
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Oracle Portal
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Liferay
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Oracle Coherence
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Methodologies
        .card-text
          ul
            li Scrum
              span.badge.rounded-pill.bg-danger Pro 
            li Kanban
              span.badge.rounded-pill.bg-danger Pro 
            li Waterfall
              span.badge.rounded-pill.bg-danger Pro 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Cloud Application Platforms
        .card-text
          p If you count website reselling, I've been running in "the cloud" since 2002. 
          ul
            li Heroku
              span.badge.rounded-pill.bg-success Novice
            li AWS
              span.badge.rounded-pill.bg-success Novice
            li Google Cloud Platform
              span.badge.rounded-pill.bg-success Novice
            li Netlify
              span.badge.rounded-pill.bg-success Novice
            li Webhost Manager (WHM)/ cPanel
              span.badge.rounded-pill.bg-danger Pro 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Operating Systems
        .card-text
          ul
            li Windows
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Unix
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Linux
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li OS X
              span.badge.rounded-pill.bg-warning.text-dark Good 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Stuff used making this page
        .card-text
          ul
            li Git
              span.badge.rounded-pill.bg-danger Pro 
            li GitHub
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Javascript
              span.badge.rounded-pill.bg-danger Pro 
            li Node
              span.badge.rounded-pill.bg-success Novice
            li NPM
              span.badge.rounded-pill.bg-success Novice
            li Gulp
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Pug
              span.badge.rounded-pill.bg-danger Pro 
            li Bootstrap
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li SVGs
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li SASS
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li jQuery
              span.badge.rounded-pill.bg-danger Pro 

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Other
        .card-text
          ul
            li JIRA
              span.badge.rounded-pill.bg-danger Pro 
            li VersionOne
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Confluence
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Artifactory
              span.badge.rounded-pill.bg-success Novice
            li Splunk
              span.badge.rounded-pill.bg-success Novice
            li AppDynamics
              span.badge.rounded-pill.bg-success Novice
            li Regular Expressions
              span.badge.rounded-pill.bg-warning.text-dark Good 


  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title 3rd Party Libraries
        .card-text
          ul
            li log4j
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li slf4j
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li logback
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li JUnit
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Cucumber
              span.badge.rounded-pill.bg-success Novice
            li Mockito
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Joda Time
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li Ehcache
              span.badge.rounded-pill.bg-success Novice
            li Quartz
              span.badge.rounded-pill.bg-success Novice
            li Guava
              span.badge.rounded-pill.bg-warning.text-dark Good 
            li GSON
              span.badge.rounded-pill.bg-success Novice
            li Thymeleaf
              span.badge.rounded-pill.bg-success Novice
.row
  .col-md-12
    .github-view-source-link View 
      a(href="https://github.com/aakoch/aakoch.github.com/blob/master/app/pug/skills.pug") the source
      |  for this page!