
h3.text-center Skills
.row
  .col-md-4.col-sm-6
    .card.shadow
      .card-body.pill-hover
        h5.card-title Java
        .card-text.pro 
          | I learned Java starting with version 1.2 in 1998 during an internship with Lockheed Martin. I've programmed in Java most of my professional career, with the exception of when I was programming Javascript, although the 2 often went hand-in-hand. 
  .col-md-4.col-sm-6
    .card.shadow
      .card-body.pill-hover
        h5.card-title Javascript
        .card-text.pro While I didn't start programming professionally in Javascript during the first few years of my career, I have played around with it starting when I hosted a personal webpage from my dorm room at Penn State in 1995. I still remember the image I animated using "DHTML" (Dynamic HTML). 
  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Other
        .card-text
          ul
            li.good PHP 
              | - since 2000-something 
            li.good Visual Basic 
              | - since 2000 
            li.good ColdFusion 
              | - since 2000-something 
            li.good 
              a(href="https://github.com/aakoch/robocar") Python  
            li.novice
              a(href="https://github.com/aakoch/railsapp") Ruby 
            li.novice
              a(href="https://github.com/aakoch/elm-slab") Elm 
            li.novice C++
            li.novice 
              a(href="https://github.com/aakoch/PunchDad") Swift 
            li.novice Perl
            li.novice Groovy

.row
  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Frameworks
        .card-text
          ul
            li.pro Spring 
            li.pro Hibernate 
            li.pro jQuery 
            li.good Angular 
            li.pro YUI 
            li.pro Underscore 
            li.pro Wicket 
            li.pro Struts 
            li.pro Prototype 
            li.good Bootstrap 
            li.novice Foundation 
            li.pro HTML5 Boilerplate 
            li.pro JSP 
            li.pro J2EE
            li.pro JMS
            li.pro JDBC
            li.pro JSTL
            li.pro JSF 


  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Markup Languages/Templating Engines
        .card-text
          ul
            li.pro HTML
            li.pro JSON
            li.novice XML
            li.novice XSD
            li.novice XSLT
            li.pro Pug
            li.good Markdown
            li.good YAML
            li.good Smarty (PHP)
            li.novice Velocity

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Build Tools
        .card-text
          ul
            li.good Gradle
            li.good Maven
            li.good Ant
            li.good npm
            li.good Puppet
            li.good Hieradata
            li.good Foreman
            li.good Docker
            li.good Grunt
            li.good Yeoman
            li.good Gulp

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Source Control
        .card-text
          ul
            li.pro Git
            li.pro BitBucket
            li.good GitLab
            li.good Subversion
            li.good MKS Source Integrity

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Databases and related tools
        .card-text
          ul
            li.good Oracle
            li.good MySQL
            li.good SQL Server
            li.good Postgres
            li.novice MongoDB
            li.novice neo4j
            li.good MyBatis
            li.pro Liquibase
            li.novice PowerDesigner

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Code Quality Tools
        .card-text
          div Static Analysis Tools
          ul
            li.good jslint
            li.good FindBugs
            li.good PMD
            li.good Fortify
            li.good SonarQube
            li.novice Fortify
            li.novice Blackduck
            li.novice FOSSA
          div Continuous Integration
          ul 
            li.pro Jenkins (aka Hudson)
            li.novice TeamCity
          div Code Review Tools
          ul
            li.good Crucible

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title IDEs
        .card-text
          ul
            li.pro JetBrains IntelliJ
            li.good Eclipse
            li.good Visual Studio Code
            li.novice Xcode
            li.novice Unity

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Applications
        .card-text
          ul
            li.good Microsoft Office
            li.good Adobe Photoshop
            li.novice Adobe Premier
            li.novice Balsamiq
            li.novice VisualVM
            li.good MS Project
            li.good OmniGraffle
            li.good Affinity Designer 
            li.good Affinity Photo
            li.good Affinity Publisher
            li.good Audacity 
            li.good Fusion 360
            li.novice OpenSCAD
            li.novice Balsamiq

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Containers
        .card-text
          ul
            li.good Weblogic
            li.good Tomcat
            li.good Oracle Portal
            li.good Liferay
            li.good Oracle Coherence

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Methodologies
        .card-text
          ul
            li.pro Scrum
            li.pro Kanban
            li.pro Waterfall

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Cloud Application Platforms
        .card-text
          p If you count website reselling, I've been running in "the cloud" since 2002. 
          ul
            li.novice Heroku
            li.novice AWS
            li.novice Google Cloud Platform
            li.novice Netlify
            li.pro Webhost Manager (WHM)/ cPanel

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Operating Systems
        .card-text
          ul
            li.good Windows
            li.good Unix
            li.good Linux
            li.good OS X

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Stuff used making this page
        .card-text
          ul
            li.pro Javascript
            li.pro Git
            li.good GitHub
            li.novice Node
            li.novice NPM
            li.good Gulp
            li.pro Pug
            li.good Bootstrap
            li.good SVGs
            li.good SASS
            li.pro jQuery

  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title Other
        .card-text
          ul
            li.pro JIRA
            li.good VersionOne
            li.good Confluence
            li.novice Artifactory
            li.novice Splunk
            li.novice AppDynamics
            li.good Regular Expressions


  .col-md-4.col-sm-6
    .card.shadow
      .card-body
        h5.card-title 3rd Party Libraries
        .card-text
          ul
            li.good log4j
            li.good slf4j
            li.good logback
            li.good JUnit
            li.novice Cucumber
            li.good Mockito
            li.good Joda Time
            li.novice Ehcache
            li.novice Quartz
            li.good Guava
            li.novice GSON
            li.novice Thymeleaf
.row
  .col-md-12
    .github-view-source-link View 
      a(href="https://github.com/aakoch/aakoch.github.com/blob/master/app/pug/skills.pug") the source
      |  for this page!