mixin vcard
  address.vcard 
    .fn Adam A. Koch
    .adr
      span.street-address 6312 N. 150th Street
      span.locality.city Omaha
      | , 
      span.region.state NE
      span.postal-code 68116
    div.email
      a(href='mailto:adam@dogtired.org') adam@dogtired.org
    div.homepage
      a(href='http://adamkoch.com') adamkoch.com
    div.telephone
      span.tel 402-378-XXXX (email for the last 4 digits)