mixin vcard
  address.vcard 
    .fn Adam A. Koch
    .adr
      span.street-address 6312 N. 150th Street
      span.locality Omaha
      span , 
      span.region NE
      span.postal-code 68116
    div
      a(href='mailto:adam@dogtired.org') adam@dogtired.org
    div 
      a(href='http://adamkoch.com') adamkoch.com
    div
      span.tel 402-614-5828