mixin vcard
    address.vcard 
        .fn Adam Koch
        .adr
            span.street-address 6312 N. 150th Street
            span.locality Omaha
            span , 
            span.region NE
            span.postal-code 68116
        .bio-label Email
            a(href='adam@dogtired.org') adam@dogtired.org
        .bio-label Homepage
            a(href='http://adamkoch.com') adamkoch.com
        .bio-label Phone
            span.tel 402-614-5828