mixin vcard
  address.vcard 
    .fn Adam A. Koch
    .adr
      span.street-address 6312 N. 150th Street
      span.locality.city Omaha
      | , 
      span.region.state NE
      span.postal-code 68116
    div.email
      a(href='mailto:career@adamkoch.com') career@adamkoch.com
    div.homepage
      a(href='https://adamkoch.com') adamkoch.com