mixin volunteer
  .projects
    h4 Boy Scouts of America
    ul
      li Designed, coded and maintained website www.troop308omaha.com
      li Created weekly newsletter (Example: www.troop308omaha.com/wp-content/uploads/2020/02/a-words-2020-02-17.pdf)
      li Planned Blue and Gold Ceremony
      li Created a Postgres database during my 2-year role as Popcorn "Kernel" to aid in popcorn distribution, coordination of storefront sales and asset tracking
      li Mentored on camping trips
      li Designed T-Shirt for annual camping trip 
    h4 Railtalkers, a local chapter of Toastmasters International
    h5 Secretary
    p January 2011 – June 2011
    h5 Vice President Education
    p July 2011 – June 2012