
// $card-cap-bg: rgbacus($black, .1)
// $font-family-sans-serif: SpaceMonkey
$my-blue: #6792bd
$my-green: #6cc3af

address.vcard
  font-style: normal
.vcard 
  .fn
    font-size: 2em
  
  .adr
    .street-address
      display: block
    .postal-code
      margin-left: 1em
  .bio-label::after
      content: ": "
    
body
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 14px
  line-height: 1.42857143
  // color: #333
  // background-color: $my-blue
  background-image: linear-gradient(180deg, $my-green, $my-blue)
  padding: 1rem

.tab-content
  background-color: $white

img.avatar
  border-radius: 4px
  float: left
  margin-right: 30px
  height: 10em
  &:hover
  
.social-media-icons
  float: right

.intro
  font-size: 1.3em
  text-align: center
  background-color: $my-blue
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .2))
  border-radius: 1em
  margin: 2em
  padding: 1em 0 .8em

a.svg
  position: relative
  display: inline-block
  color: $black

  &:after
    position: absolute 
    top: 0 
    right: 0 
    bottom: 0 
    left: 0


@-webkit-keyframes spinner 
  from 
    -webkit-transform: rotateY(0deg)
  to
    -webkit-transform: rotateY(-360deg)


@keyframes spinner 
  from 
    -moz-transform: rotateY(0deg)
    -ms-transform: rotateY(0deg)
    transform: rotateY(0deg)

  to 
    -moz-transform: rotateY(-360deg)
    -ms-transform: rotateY(-360deg)
    transform: rotateY(-360deg)
    
svg
  margin: .5em
    
svg.run-animation
  -webkit-animation-name: spinner
  -webkit-animation-timing-function: linear
  -webkit-animation-iteration-count: infinite
  -webkit-animation-duration: 3s

  animation-name: spinner
  animation-timing-function: linear
  animation-iteration-count: infinite
  animation-duration: 3s

  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  transform-style: preserve-3d
   
  -webkit-animation-play-state: paused
  animation-play-state: paused

  &:hover
    -webkit-animation-play-state: running
    animation-play-state: running
  
li.experience.vevent.position
  list-style: none
  display: block
  margin: 1em
  
  span
    display: block
    
    &.jobtitle
      font-weight: bold
      
div.iconcredit
  font-size: .5em
  margin: 2em
    
.nav-tabs
  border-bottom: 0
  li.active > a:hover, li > a:hover
    border-bottom: 0

a.nav-link
  color: $black

a.nav-link.active
  font-weight: bold
    
.quote p
  > *
    text-indent: 2em
    margin-right: 1em
    position: absolute
  &::after, &::before
    // color: gray
    font-size: 4em
    font-family: sans-serif
    position: absolute
  &::before
    content: "“"
    top: -.5em
    left: -.5em
  &::after
    content: "”"
    right: .5em

.github-view-source-link
  font-size: .9em


.tab-content
  padding: 1em
  border-radius: .2em

.tab-pane
  padding-left: 1em

.quote-container
  position: relative
  font-size: 1.2em
  
.card
  @include gradient-y(tint-color($gray-500, 50%), $white)
  margin-bottom: 2em